
.body-main{
    display: flex;
}
.teachers-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}
.calculation-body{
    position: sticky;
    margin-top: 20px;
    padding-left: 35px;
    border-left: 2px solid lightgrey;
}